<div class="container-fluid bg-index">

  <div *ngIf="loading" class="row loading">
    <div class="col-lg-12">
      <div class="spinner-grow" role="status"></div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 centered bg-search">
      <form action="" class="search-centered">
        <div class="row no-gutters">
          <div class="col-lg-12 col-sm-12 mt-2">
            <label class="form-label" id="title">Weather in your city</label>
            <input #search placeholder="Your city name" type="email" class="form-control border-right-0" aria-describedby="emailHelp" aria-labelledby="title">
            <button style="height: auto; width: auto" class="btn btn-link" (click)="getWeather(search.value); $event.preventDefault()" aria-label="Botão de pesquisa">
              <img src="../assets/icon.png" alt="">
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div *ngIf="!loading" class="container container-cards">
    <div *ngFor="let list of weather.list" class="row row-card centered mt-3">
      <a routerLink="/details/{{ list.id }}" routerLinkActive="active" [state]="{ data: list }" class="anchor">
        <div class="card p-3">
          <div class="row">
            <div class="col-lg-4">
              <div class="temp centered">
                <span>{{ list.main.temp }}°C</span>
              </div>
            </div>
    
            <div class="col-lg-5">
              <div class="info p-3">
                <h2>{{ list.name }}, {{ list.sys.country }} <img class="mb-2" src="{{ setFlagIconURL(list.sys.country) }}" alt="bandeira"></h2>
    
                <div class="row">
                  <div class="col-lg-4">
                    <p class="maxmin">Máx:</p>
                  </div>
    
                  <div class="col-lg-5">
                    <p class="maxima-valor">{{ list.main.temp_max }}°C</p>
                  </div>
                </div>
    
                <div class="row">
                  <div class="col-lg-4">
                    <p class="maxmin">Mín:</p>
                  </div>
    
                  <div class="col-lg-5">
                    <p class="minima-valor">{{ list.main.temp_min }}°C</p>
                  </div>
                </div>
              </div>
            </div>
    
            <div class="col-lg-3">
              <div class="desc">
                <img class="mb-3" src="{{ setIconURL(list.weather[0].icon) }}" alt="forecast">
                <p>{{ list.weather[0].description }}</p>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>

  <div *ngIf="!hiddenFlag" class="container-fluid bg-cta">
    <div class="row">
      <div class="col-lg-12 cta-centered">
        <svg width="50px" height="50px" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="search-plus" class="svg-inline--fa fa-search-plus fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M304 192v32c0 6.6-5.4 12-12 12h-56v56c0 6.6-5.4 12-12 12h-32c-6.6 0-12-5.4-12-12v-56h-56c-6.6 0-12-5.4-12-12v-32c0-6.6 5.4-12 12-12h56v-56c0-6.6 5.4-12 12-12h32c6.6 0 12 5.4 12 12v56h56c6.6 0 12 5.4 12 12zm201 284.7L476.7 505c-9.4 9.4-24.6 9.4-33.9 0L343 405.3c-4.5-4.5-7-10.6-7-17V372c-35.3 27.6-79.7 44-128 44C93.1 416 0 322.9 0 208S93.1 0 208 0s208 93.1 208 208c0 48.3-16.4 92.7-44 128h16.3c6.4 0 12.5 2.5 17 7l99.7 99.7c9.3 9.4 9.3 24.6 0 34zM344 208c0-75.2-60.8-136-136-136S72 132.8 72 208s60.8 136 136 136 136-60.8 136-136z"></path></svg>
        <p>Pesquise o nome de uma cidade acima</p>
      </div>
    </div>
  </div>
</div>